<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Roadmap (Trash Status)</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="row" *ngIf="places.length==0">
        <div class="col-12" style="text-align: center;margin-top: 100px;font-size: 30px">
            Pending
        </div>
    </div>

    <div class="row" style="margin-top: 10px;border-bottom: 1px solid #bebebe" *ngIf="places.length>0">
        <div class="col-12">
            <div class="row" style="margin-left: 5px;padding-top: 5px;padding-bottom: 5px;border-top: 1px solid #bebebe"
                 *ngFor="let place of places;last as isLast">
                <div class="col-1" style="padding: 0px 0px 0px 10px">
                    <div *ngIf="place.placeFrom.binEmpty===1" style="margin-top: 18px">
                        <i class="fas fa-caret-right" style="font-size: 25px;color: #00a400"></i>
                    </div>
                </div>
                <div class="col-2" style="font-weight: bold;font-size: 20px;padding: 0px">
                    <div style="margin-top: 16px">{{place.placeFrom.label}}</div>
                </div>
                <div class="col-6" style="padding: 0px">
                    Location : {{place.placeFrom.location}} <br>
                    <span *ngIf="place.placeFrom.binEmpty===2"><s>Weight : {{place.placeFrom.weight.toFixed(1)}}%</s></span>
                    <span *ngIf="place.placeFrom.binEmpty===0 || place.placeFrom.binEmpty===1">Weight : {{place.placeFrom.weight.toFixed(1)}}%</span>
                    <br>
                    <i class="fas fa-caret-right"></i> {{!isLast?place.placeTo.label + ' : ' + place.distance +
                    'km':'Exit'}}
                </div>
                <div class="col-3">
                    <div style="margin-top: 18px;padding-right: 0px">

                        <i *ngIf="place.placeFrom.binEmpty===2" class="fas fa-trash-alt"
                           style="font-size: 23px;color: #00a400"></i>
                        <i *ngIf="(place.placeFrom.binEmpty===0 || place.placeFrom.binEmpty===1)"
                           class="fas fa-trash-alt"
                           style="font-size: 23px"
                           [ngStyle]="{'color':place.placeFrom.weight<50?'#ff8e00':
                           place.placeFrom.weight<85?'#ff5a03':'#ff010d'}"></i>

                        <i *ngIf="place.placeFrom.binEmpty===2"
                           class="fas fa-check"
                           style="font-size: 22px;margin-left: 8px;color: #00a400"></i>
                        <i *ngIf="(place.placeFrom.binEmpty===0 || place.placeFrom.binEmpty===1)"
                           class="fas fa-exclamation-triangle"
                           style="font-size: 20px;margin-left: 8px"
                           [ngStyle]="{'color':place.placeFrom.weight<50?'#ff8e00':
                           place.placeFrom.weight<85?'#ff5a03':'#ff010d'}"></i>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px" *ngIf="places.length>0">
        <div class="col-12">
            <span style="margin-left: 20px"><span style="font-weight: bold">Total Trip</span> - {{totalTrip}}km</span>
        </div>
    </div>

    <div class="row" style="margin: 5px;margin-top: 25px">
        <div class="col-12">
            <div id="map" style="height: 400px" [hidden]="places.length==0"></div>
        </div>
    </div>

</ion-content>
