<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Roadmap</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="row" style="margin: 5px;margin-top: 25px">
        <div class="col-12">
            <div id="map" style="height: 400px"></div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px;border-bottom: 1px solid #bebebe">
        <div class="col-12">
            <div class="row" style="margin-left: 5px;padding-top: 5px;padding-bottom: 5px;border-top: 1px solid #bebebe" *ngFor="let place of places">
                <div class="col-1" style="font-weight: bold">
                    {{place.label}}
                </div>
                <div class="col-11">
                    Location : {{place.location}} <br>
                    Weight : {{place.weight}}kg
                </div>
            </div>
        </div>
    </div>
</ion-content>
